<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhc.example.zguide.auth.server.user.dao.UserAuthDaoMapper">
    <resultMap id="BaseResultMap" type="com.yhc.example.zguide.auth.server.user.modle.UserAuthEntity">
        <id column="id" property="userId" jdbcType="BIGINT"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id as userId, login_name as loginName, real_name as realName, password, state, phone
    </sql>

    <select id="getUser" resultType="com.yhc.example.zguide.auth.server.user.modle.UserAuthEntity" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from z_user
        <where>
            <if test="loginName !=null">and login_name = #{loginName}</if>
        </where>
    </select>

</mapper>